/* Tema oscuro */
.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

.dark-theme a {
  color: #ffffff;
}

/* Tema claro */
.light-theme {
  background-color: #f8f9fa;
  color: #000000;
}

.light-theme a {
  color: #000000;
}

/* Estilo del contenido */
.main-content {
  min-height: 80vh;
  padding: 2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Aplica el fondo individualmente a los contenedores */
.mainhome,
.aboutme-container,
.projects-container,
.contact-container {
  padding: 2rem;
  border-radius: 12px;
  margin-bottom: 2rem;
  transition: all 0.3s ease;
}

.dark-theme .mainhome,
.dark-theme .aboutme-container,
.dark-theme .projects-container,
.dark-theme .contact-container {
  background-color: #1e1e1e;
  color: #fff;
}

.light-theme .mainhome,
.light-theme .aboutme-container,
.light-theme .projects-container,
.light-theme .contact-container {
  background-color: #ffffff;
  color: #000;
}