.mainhome {
  background-color: #121221;
  color: #ffffff;
  min-height: calc(95vh - 139px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.mainhome-content {
  max-width: 800px;
}

.mainhome h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #00d8ff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.home-subtitle {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #ccc;
}

.btn-custom {
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #00d8ff;
  font-weight: 500;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.btn-custom:hover {
  background-color: #00d8ff;
  color: #1e1e2f;
  border-color: #00d8ff;
}